<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yushu.mapper.CardMapper">
  <resultMap id="BaseResultMap" type="com.yushu.model.Card">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="EName" jdbcType="VARCHAR" property="ename" />
    <result column="Type" jdbcType="INTEGER" property="type" />
    <result column="Occupation" jdbcType="INTEGER" property="occupation" />
    <result column="Rarity" jdbcType="INTEGER" property="rarity" />
    <result column="Cost" jdbcType="INTEGER" property="cost" />
    <result column="Atk" jdbcType="INTEGER" property="atk" />
    <result column="Health" jdbcType="INTEGER" property="health" />
    <result column="Kind" jdbcType="INTEGER" property="kind" />
    <result column="Set" jdbcType="INTEGER" property="set" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Dust_Decompose" jdbcType="INTEGER" property="dustDecompose" />
    <result column="Dust_Decompose_Golden" jdbcType="INTEGER" property="dustDecomposeGolden" />
    <result column="Dust_Synthesis" jdbcType="INTEGER" property="dustSynthesis" />
    <result column="Dust_Synthesis_Golden" jdbcType="INTEGER" property="dustSynthesisGolden" />
    <result column="Taunt" jdbcType="BIT" property="taunt" />
    <result column="Freeze" jdbcType="BIT" property="freeze" />
    <result column="Windfury" jdbcType="BIT" property="windfury" />
    <result column="Battlecry" jdbcType="BIT" property="battlecry" />
    <result column="Stealth" jdbcType="BIT" property="stealth" />
    <result column="Combo" jdbcType="BIT" property="combo" />
    <result column="Aura" jdbcType="BIT" property="aura" />
    <result column="Charge" jdbcType="BIT" property="charge" />
    <result column="Grant_charge" jdbcType="BIT" property="grantCharge" />
    <result column="Spellpower" jdbcType="BIT" property="spellpower" />
    <result column="Silence" jdbcType="BIT" property="silence" />
    <result column="Enrage" jdbcType="BIT" property="enrage" />
    <result column="Divine_shield" jdbcType="BIT" property="divineShield" />
    <result column="Deathrattle" jdbcType="BIT" property="deathrattle" />
    <result column="Secret" jdbcType="BIT" property="secret" />
    <result column="Inspire" jdbcType="BIT" property="inspire" />
    <result column="Mission" jdbcType="BIT" property="mission" />
    <result column="Lifesteal" jdbcType="BIT" property="lifesteal" />
    <result column="IsShow" jdbcType="BIT" property="isshow" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
</mapper>