<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yushu.mapper.HsContentMapper">
  <resultMap id="BaseResultMap" type="com.yushu.model.HsContent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="depth" jdbcType="INTEGER" property="depth" />
    <result column="crawledTime" jdbcType="TIMESTAMP" property="crawledtime" />
    <result column="spiderName" jdbcType="VARCHAR" property="spidername" />
    <result column="referer" jdbcType="VARCHAR" property="referer" />
    <result column="outerHtml" jdbcType="VARCHAR" property="outerhtml" />
  </resultMap>
</mapper>